## Required:
# generate(copy and past to the shell):
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=
POSTGRES_PASSWORD=

## Optional:
POSTGRES_USER=postgres
POSTGRES_DB=rewards
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
DEBUG=False
TZ=Europe/Moscow
