## Required:
# generate(copy and past to the shell):
# python3 -c 'import secrets; print(secrets.token_urlsafe(50))'
SECRET_KEY=
POSTGRES_PASSWORD=

## Optional:
POSTGRES_USER=postgres
POSTGRES_DB=rewards
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
DEBUG=False
TZ=Europe/Moscow
